<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Verses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VersesSeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD0D0F2D1C0A387400EAF02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB61B881BF533D800F8C61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB61B9F1BF533D800F8C61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB61BAA1BF533D800F8C61D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
